{
    "token": "디스코드 봇 토큰",
    "owners": [
        "봇 소유자 디코 아이디"
    ],
    "allowedUsers": [
        "봇을 사용할 수 있는 사람 디코 아이디"
    ],
    "allowedIps": [
        "api 서버 사용할 수 있는 사람 아이피",
    ],
    "blockedNames": [
        "사용할 수 없는 이름"
    ],
    "proxy": {
        "auth": {
            "username": "",
            "password": ""
        },
        "host": "프록시",
        "protocol": "http",
        "port": 없으면빈칸
    },
    "notifyChannels": {
        "onOff": "봇 켜짐/꺼짐 메세지 채널ID",
        "hcsUpdate": "자가진단 클라이언트 업데이트 메세지 채널ID"
    }
}