{
    "token": "디스코드 봇 토큰",
    "owners": [
        "봇 소유자 디코 아이디"
    ],
    "allowedUsers": [
        "봇을 사용할 수 있는 사람 디코 아이디"
    ], //false로 설정하면 모두 다 쓸 수 있음.
    "notifyChannels": {
        "hcsUpdate": "자가진단 클라이언트 업데이트 메세지 채널ID", //false로 설정하면 메세지 안보냄
        "log": "누군가 명령어를 사용하면 이 채널로 메세지가 감" //false로 설정하면 메세지 안보냄
    }
    "proxy": {
        "auth": {
            "username": "",
            "password": ""
        },
        "host": "",
        "protocol": "http",
        "port": 0
    }, //프록시를 사용하지 않으신다면 이대로 두면 됩니다
}